html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat", sans-serif;
  color: #424242;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

:focus,
:active {
  outline: none;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__box:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo-link {
  width: 89px;
  height: 58px;
}
@media (max-width: 920px) {
  .header__logo-link {
    width: 70px;
    height: 52px;
  }
}
@media (max-width: 576px) {
  .header__logo-link {
    width: 55px;
    height: 35px;
  }
}
.header__logo-img {
  width: 89px;
  height: 58px;
}
@media (max-width: 920px) {
  .header__logo-img {
    width: 70px;
    height: 52px;
  }
}
@media (max-width: 576px) {
  .header__logo-img {
    width: 55px;
    height: 35px;
  }
}
.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  color: #424242;
  font-style: normal;
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 920px) {
  .header__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .header__link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
  }
}
.header__link svg {
  margin-right: 10px;
}
@media (max-width: 576px) {
  .header__link svg {
    width: 16px;
    height: 16px;
  }
}
@media (min-width: 576px) {
  .header__link:hover {
    color: #E42624;
  }
}
.header__location {
  margin-left: 80px;
  font-style: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 920px) {
  .header__location {
    margin-left: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .header__location {
    margin-left: 0px;
  }
}
@media (max-width: 576px) {
  .header__location {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    display: block;
    max-width: 300px;
    text-align: end;
  }
}
@media (max-width: 376px) {
  .header__location {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    display: block;
    max-width: 220px;
    text-align: end;
  }
}
.header__container {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .navigation {
  background-color: #17138F;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 768px) {
  .header .navigation__container {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header .navigation .background-opacity {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99;
}
.header .navigation .background-opacity.active {
  display: block;
}
.header .navigation__offcanvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .header .navigation__offcanvas {
    display: none;
  }
}
.header .navigation__offcanvas-img {
  fill: #fff;
}
.header .navigation__offcanvas-btn {
  display: block;
}
.header .navigation__offcanvas-box {
  opacity: 0;
  pointer-events: none;
  background-color: #17138F;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem;
  -webkit-box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transform: translateZ(-20px);
          transform: translateZ(-20px);
  pointer-events: none;
  -webkit-transition: opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  transition: opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header .navigation__offcanvas-body.active .navigation__offcanvas-box {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  overflow: auto;
}
.header .navigation__offcanvas-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .navigation__offcanvas-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .navigation__offcanvas-link {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}
.header .navigation__offcanvas-link.active::after {
  content: "";
  display: block;
  height: 1px;
  width: 30px;
  background-color: red;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}
.header .navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
  position: relative;
  color: #fff;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}
.header .navigation__link.active::before {
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  content: "";
  display: block;
  height: 1px;
  width: 30px;
  background-color: red;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}
@media (max-width: 920px) {
  .header .navigation__link {
    font-size: 13px;
    font-weight: 400;
  }
}
@media (max-width: 768px) {
  .header .navigation__link {
    display: none;
  }
}
@media (min-width: 576px) {
  .header .navigation__link:hover::before {
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
    content: "";
    display: block;
    height: 1px;
    width: 30px;
    background-color: red;
    bottom: -2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
  }
}
.header .navigation__link:not(:last-child) {
  margin: 0 75px 0 0;
}
.header .navigation__link:not(:last-child)::after {
  content: "";
  display: block;
  height: 22px;
  width: 1px;
  background-color: #fff;
  right: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}
@media (max-width: 1200px) {
  .header .navigation__link:not(:last-child) {
    margin: 0 25px 0 0;
  }
  .header .navigation__link:not(:last-child)::after {
    content: "";
    display: block;
    height: 22px;
    width: 1px;
    background-color: #fff;
    right: -16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
  }
}
@media (max-width: 920px) {
  .header .navigation__link:not(:last-child) {
    margin: 0 10px 0 0;
  }
  .header .navigation__link:not(:last-child)::after {
    content: "";
    display: block;
    height: 22px;
    width: 1px;
    background-color: #fff;
    right: -7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
  }
}

.main {
  width: 100%;
  height: 100vh;
}
.main .greeting {
  height: 555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(100.84deg, rgba(17, 15, 83, 0.52) 0%, rgba(20, 18, 101, 0.36) 100%), url("/images/background-greeting.jpg");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}
.main .greeting__title {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}
@media (max-width: 920px) {
  .main .greeting__title {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
  }
}
@media (max-width: 576px) {
  .main .greeting__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
  }
}
.main .greeting__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  max-width: 520px;
  display: block;
  color: #fff;
}
@media (max-width: 920px) {
  .main .greeting__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .main .greeting__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }
}
.main .greeting__subtitle span {
  display: block;
  text-align: center;
}